footer.qi-footer
  .container
    .row
      .col-3
        p.mb-2 GET TO KNOW ABOUT US
        p About Us
        p Privacy Policy
        p Terms & Conditions
        p General Insurance Companies
        p POS Login
      .col-7.text-center
        p Quickinsure Insurance Brokers Private Limited 
        p
          | 401, 4th Floor, Chinar Heights, Above Oriental Bank of Commerce, Lane No 05, Prabhat Road, Pune 411004
        p
          | CIN: U66010PN2016PTC164422 | Principal Officer: Anand Shrikhande | Contact Number: 07720099093
        p
          | IRDA Direct Broker License No: 579 | License Code: IRDA/DB 660/16 | Valid Till: 20-Oct-2019
        p Copyright © 2019 Quickinsure.co.in. All Rights Reserved
        p Insurance is a subject matter of solicitation.
      .col-2.d-flex.flex-column.align-items-end.justify-content-center
        p Connect with us
        .social-links
          i.icon-twitter
          i.icon-facebook
          i.icon-linkedin
          i.icon-google