header
  .container
    nav.navbar.qi-navbar
      a(href='')
        img(src='./images/logo.svg', alt='Logo')
      .navbar-nav.ml-auto
        .nav-top.d-flex.align-items-center
          .input-group.mr-2
            input.form-control(type='text', placeholder="Search", aria-label="Search", aria-describedby='basic-addon2')
            .input-group-append
              span#basic-addon2.input-group-text
                i.icon-search
          .sign-in
            i.icon-profile
            a.ml-2(href='JavaScript:void(0);') Sign in
        .contact-text.pt-2
          i.icon-call.mr-1    
          p.mb-0 Toll free number: 1800 266 3131