/// Section Compare Css ///
.section-compare{
  background: url(../images/background-car.svg) no-repeat top rem(16px) right rem(-64px);
  background-size: 60% auto;
  padding: rem(60px) 0;

  h1{
    font-weight: 200;
    color: $black;
  }
}

/// Section Insurance Css ///

.card-qi{
  border: none;
  border-radius: 0 rem(15px 15px 15px);
  -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
  z-index: 3;

  &.card-car-variants,&.card-car-policy,&.card-car-insurance{
    margin-top: rem(-10px);
    border-top-right-radius: 0;
  }
  &.card-car-variants{
    z-index: 2;
  }
  &.card-car-policy{
    z-index: 1;
  }
  &.card-car-insurance{
    z-index: 0;
  }
  .car-details,.car-policy-wrap,.car-insurance-wrap{
    padding: rem(24px 80px);

    @include media-breakpoint-down(md) {
      padding-left: rem(24px);
      padding-right: rem(24px);
    }
  }
}

.form-car{
  padding: rem(0 80px);

  @include media-breakpoint-down(md) {
    padding: rem(0 24px);
  }
}

.tab-header{
  @include flexbox();
  @include align-items(center);

  .form-control{
    text-align: center;
    padding: rem(24px 8px);
    border: 1px solid #B9B6B6;
    width: auto;
  }
}

.radio-button-group{
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  .custom-radio-qi{
    margin: 0 rem(8px 24px);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
  }

  .label-car{
    background-color: $gray-94;
    height: rem(150px);
    width: rem(150px);
    border-radius: 50%;
    @include flexbox();
    @include justify-content(center);
  }
}

.fuel-box{
  width: rem(150px);
  height: rem(150px);
  border-radius: 50%;
  background-color: $gray-94;
  @include flexbox();
  @include justify-content(center);
}