$FontPath: "../fonts/";
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-ExtraLight.eot');
    src: local('#{$FontPath}Assistant-ExtraLight'),
        url('#{$FontPath}Assistant-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-ExtraLight.woff2') format('woff2'),
        url('#{$FontPath}Assistant-ExtraLight.woff') format('woff'),
        url('#{$FontPath}Assistant-ExtraLight.ttf') format('truetype'),
        url('#{$FontPath}Assistant-ExtraLight.svg#Assistant-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-Light.eot');
    src: local('#{$FontPath}Assistant-Light'),
        url('#{$FontPath}Assistant-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-Light.woff2') format('woff2'),
        url('#{$FontPath}Assistant-Light.woff') format('woff'),
        url('#{$FontPath}Assistant-Light.ttf') format('truetype'),
        url('#{$FontPath}Assistant-Light.svg#Assistant-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-Regular.eot');
    src: local('#{$FontPath}Assistant-Regular'),
        url('#{$FontPath}Assistant-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-Regular.woff2') format('woff2'),
        url('#{$FontPath}Assistant-Regular.woff') format('woff'),
        url('#{$FontPath}Assistant-Regular.ttf') format('truetype'),
        url('#{$FontPath}Assistant-Regular.svg#Assistant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-Bold.eot');
    src: local('#{$FontPath}Assistant Bold'), local('Assistant-Bold'),
        url('#{$FontPath}Assistant-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-Bold.woff2') format('woff2'),
        url('#{$FontPath}Assistant-Bold.woff') format('woff'),
        url('#{$FontPath}Assistant-Bold.ttf') format('truetype'),
        url('#{$FontPath}Assistant-Bold.svg#Assistant-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-SemiBold.eot');
    src: local('#{$FontPath}Assistant-SemiBold'),
        url('#{$FontPath}Assistant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-SemiBold.woff2') format('woff2'),
        url('#{$FontPath}Assistant-SemiBold.woff') format('woff'),
        url('#{$FontPath}Assistant-SemiBold.ttf') format('truetype'),
        url('#{$FontPath}Assistant-SemiBold.svg#Assistant-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('#{$FontPath}Assistant-ExtraBold.eot');
    src: local('#{$FontPath}Assistant-ExtraBold'),
        url('#{$FontPath}Assistant-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontPath}Assistant-ExtraBold.woff2') format('woff2'),
        url('#{$FontPath}Assistant-ExtraBold.woff') format('woff'),
        url('#{$FontPath}Assistant-ExtraBold.ttf') format('truetype'),
        url('#{$FontPath}Assistant-ExtraBold.svg#Assistant-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('#{$FontPath}icomoon.eot?4cs3iu');
  src:  url('#{$FontPath}icomoon.eot?4cs3iu#iefix') format('embedded-opentype'),
    url('#{$FontPath}icomoon.ttf?4cs3iu') format('truetype'),
    url('#{$FontPath}icomoon.woff?4cs3iu') format('woff'),
    url('#{$FontPath}icomoon.svg?4cs3iu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$FontPath}icomoon.eot?z1e5q5');
  src:  url('#{$FontPath}icomoon.eot?z1e5q5#iefix') format('embedded-opentype'),
    url('#{$FontPath}icomoon.ttf?z1e5q5') format('truetype'),
    url('#{$FontPath}icomoon.woff?z1e5q5') format('woff'),
    url('#{$FontPath}icomoon.svg?z1e5q5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-bed:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-comment-alt-exclamation:before {
  content: "\e905";
}
.icon-comment:before {
  content: "\e906";
}
.icon-cycling:before {
  content: "\e907";
}
.icon-left-arrow-small:before {
  content: "\e908";
}
.icon-up-arrow-small:before {
  content: "\e909";
}
.icon-right-arrow-small:before {
  content: "\e90a";
}
.icon-down-arrow-small:before {
  content: "\e90b";
}
.icon-left-arrow:before {
  content: "\e90c";
}
.icon-up-arrow:before {
  content: "\e90d";
}
.icon-right-arrow:before {
  content: "\e90e";
}
.icon-down-arrow:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-options:before {
  content: "\e916";
}
.icon-pen:before {
  content: "\e917";
}
.icon-plus-square:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-printer:before {
  content: "\e91a";
}
.icon-profile:before {
  content: "\e91b";
}
.icon-quote-right:before {
  content: "\e91c";
}
.icon-quote:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-share-alt:before {
  content: "\e91f";
}
.icon-taxi:before {
  content: "\e920";
}
.icon-twitter:before {
  content: "\e921";
}
.icon-users:before {
  content: "\e922";
}
.icon-warning:before {
  content: "\e923";
}
.icon-web:before {
  content: "\e924";
}
.icon-yes:before {
  content: "\e925";
}
.icon-linkedin:before {
  content: "\f0e1";
}