.qi-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E6E3C7;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  padding: rem(40px) 0;

  p{
    margin: 0;
    font-weight: 300;
    font-size: rem(14px);
    color: $gray-40;
    line-height: normal;
  }
}