.section-health-compare{
  background: url('../images/health-bg.svg') no-repeat top rem(16px) right;
  background-size: 60% auto;
  padding: rem(60px) 0;

  h1{
    color: $battleshipgrey;
    font-weight: 200;
  }
}

.section-health-insurance{
  padding: 30px 0;
  .indicators{
    bottom: 74px;
    left: 45%;
  }
}

.card-health-qi,.card-member-qi{
  margin: 0 rem(64px);
  border-radius: rem(8px);
  border: none;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.35);

  &.visited{
    box-shadow: none;
    border: 1px solid $green;
  }

  .aboutus-wrap,.member-wrap{
    padding: 0 rem(40px);
  }
}

.member-wrap{
  p{
    font-weight: 300;
  }
}

.card-health{
  border: 1px solid $darkgray;
  border-radius: 0 rem(8px 8px 8px);

  .adult-info{
    padding: 0 rem(40px);
  }
}