header{
  background-color: $white;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
}

.qi-navbar{
  padding: rem(20px) 0;

  img{
    height: rem(50px);
  }
  
  .input-group{ 
    width: rem(350px);

    @include media-breakpoint-down(md) {
      width: rem(300px);
    }

    ::placeholder{
      color: $gray-57;
      font-size: rem(16px);
      font-weight: 300;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray-57;
      font-size: rem(16px);
      font-weight: 300;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $gray-57;
      font-size: rem(16px);
      font-weight: 300;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $gray-57;
      font-size: rem(16px);
      font-weight: 300;
    }
  }
  .form-control{
    border: 0;
    border-bottom: 1px solid $silver;
    border-radius: 0;

    &:focus{
      box-shadow:none;
    }
  }
  .input-group-text{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $silver;
    padding: rem(8px 12px);
    border-radius: 0;

    .icon-search{
      color: $grey;
    }
  }

  .sign-in{

    a{
      text-decoration: none;
      color: $dark-blue;
      font-size: rem(18px);
    }
  }

  .contact-text{
    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);

    .icon-call,p{
      color: $green;
    }
  }
}