html{
  min-height: 100%;
  position: relative;
}

body{
  background-color: $gray-98;
  margin-bottom: rem(196px);

  @include media-breakpoint-down(md) {
    margin-bottom: rem(242px);
  }
}

i{
  font-size: rem(20px);
  color: $dark-blue;
}

.icon-bar-right{
  position: fixed;
  top: 30%;
  right: rem(80px);
  z-index: 6;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    display: none;
  }

  @media (max-width: 767px){
    display: none;
  }

  >a{
    position: relative;
    @include flexbox();
    @include align-items(center);
    width: 0;
    height: rem(50px);
    border-radius: rem(60px);
    background-color: $gray-94;
    transition: all 0.1s ease;
    margin: 0 0 rem(8px) auto;
    overflow: hidden;
    padding: rem(4px 24px);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    -moz-box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    
    &:hover{
      width: auto;
      transition: all 0.1s ease;
      padding-right: rem(50px);
      text-decoration: none;
      font-size: rem(18px);

      span{
        display: inline-block;
        color: $dark-blue;
        font-family: 'Assistant';
      }

      i{
        color: $green;
      }
    }
    >span{
      display: none;
    }

    >i{
      position: absolute;
      right: rem(13px);
    }
  }
}

/////// Buttons Css //////////

.btn{
  text-transform: uppercase;

  &.btn-go{
    font-weight: bold;
    padding: rem(15px);
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);
  }

  &.btn-compare{
    padding: rem(10px 52px);
    color: $white;
    font-weight: 600;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.16);

    &:hover{
      background-color: $dark-blue;
      border-color: transparent;
      -webkit-box-shadow: 1px 4px 0px 0px rgba(39,222,85,1);
      -moz-box-shadow: 1px 4px 0px 0px rgba(39,222,85,1);
      box-shadow: 1px 4px 0px 0px rgba(39,222,85,1);
    }
  }
}

.custom-control-label{
  font-size: rem(14px);
}

//////// Custom Radio ////////

.custom-radio-qi{

  .custom-control-label{
    &::before{
      height: rem(24px);
      width: rem(24px);
      border: 3px solid $gray-75;
      left: rem(-32px);
      top: 0;
    }
    &::after{
      height: rem(20px);
      width: rem(20px);
      top: rem(2px);
      left: rem(-30px);
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: $white;;
    border-color: $shuttlegrey;
    background-color: $shuttlegrey;
  }
}

//////// Custom Switch ///////////

.custom-switch-qi{

  .custom-control-label{
    &::before{
      content: "NO";
      background-color: $gray-60;
      height:rem(28px);
      width: rem(56px);
      border-radius: rem(25px);
      color: $white;
      padding-left: rem(20px);
      font-size: rem(12px);
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }

    &::after{
      width: rem(18px);
      height: rem(18px);
      border-radius: rem(10px);
      background-color: $white;
      top: rem(9px);
      left: rem(-32px);
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after{
    transform: translateX(12px);
    left: rem(-15px);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    content: "YES";
    color: $white;
    border-color: $sea-green;
    background-color: $sea-green;
    padding: 0 rem(20px) 0 0;
  }
}

///// Custom Checkbox ////////

.custom-checkbox-qi{
  padding-left: rem(130px);

  .custom-control-label{
    padding-left: rem(10px);

    &::before{
      width: rem(25px);
      height: rem(25px);
      top: 0;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $white;
    border-color: $gray-60;
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    background: url("../images/checked.svg") no-repeat;
    left: rem(-20px);
    top: rem(2px);
    background-size: rem(16px) auto;
  }
}

///// Indicators Css //////
.indicators{
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: rem(121px);
  @include flexbox();
  left: 40%;
  right: 35%;
  z-index: 5;
  
  li{
    height: rem(40px);
    width: rem(40px);
    border-radius: rem(25px);
    list-style-type: none;
    position: relative;
    background-color: transparent;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    margin-right: rem(30px);

    &.active{
      background-color: #26de54;

      span{
        background-color: $dark-blue;
      }
    }

    &:last-child{
      span::before{
        display: none;
      }
    }

    &.visited{
      span{
        background-color: $green;
      }
    }

    span{
      height: rem(10px);
      width: rem(10px);
      border-radius: rem(25px);
      background-color: $dustygray;

      &::before{
        content: "";
        position: absolute;
        top: rem(19px);
        left: rem(25px);
        width: rem(60px);
        height: rem(3px);
        background-color: $dustygray;
        z-index: 1;
      }
    }
  }
}

/////// Tabs Css ////////

.nav-tabs-qi{
  border-bottom: none;
  background-color: $gray-98;
  position: relative;
  z-index: 0;

  &.nav-tabs-health-qi{
    background-color: transparent;
    z-index: 1;
    
    .nav-link{
      &.active{
        box-shadow: none;
        border: 1px solid $darkgray;
        border-bottom: none;
      }
    }
  }

  .nav-link{
    background-color: $dark-blue;
    color: $white;
    font-weight: 300;
    border-radius: rem(15px 15px) 0 0;
    padding: rem(16px 32px);
    border:0;
    // margin-right: -20px;

    &.active{
      -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
      // position: relative;
    }
  }
}