extends ./layouts/bootstrap.jade

block content
  .icon-bar-right
    a(href='JavaScript:void(0);')
      span Home
      i.icon-home
    a(href='JavaScript:void(0);')
      span 4 Wheeler
      i.icon-car
    a(href='JavaScript:void(0);')
      span 2 Wheeler
      i.icon-cycling
    a(href='JavaScript:void(0);')
      span Health
      i.icon-plus-square
    a(href='JavaScript:void(0);')
      span Personal Accident
      i.icon-bed
    a(href='JavaScript:void(0);')
      span Commercial Vehicle
      i.icon-taxi
    a(href='JavaScript:void(0);')
      span Travel
      i.icon-users
  include car-header.jade
  .container
    .custom-control-inline
      label(for='customRange2') IDV Range
      input#customRange2.custom-range(type='range', min='3,00,000', max='20,00,000')
    .row
      .col-4
      .col-8