extends ./layouts/bootstrap.jade

block content
  .icon-bar-right
    a(href='JavaScript:void(0);')
      span Home
      i.icon-home
    a(href='JavaScript:void(0);')
      span 4 Wheeler
      i.icon-car
    a(href='JavaScript:void(0);')
      span 2 Wheeler
      i.icon-cycling
    a(href='JavaScript:void(0);')
      span Health
      i.icon-plus-square
    a(href='JavaScript:void(0);')
      span Personal Accident
      i.icon-bed
    a(href='JavaScript:void(0);')
      span Commercial Vehicle
      i.icon-taxi
    a(href='JavaScript:void(0);')
      span Travel
      i.icon-users
  include car-header.jade
  .section-insurance.py-5
    .container.position-relative
      #nav-tab.nav.nav-tabs.nav-tabs-qi(role='tablist')
        a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') Renew car insurance
        a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') Buy new car
      #nav-tabContent.tab-content
        #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab')
          .card.card-qi
            .card-body
              form.form-car(action="")
                .tab-header.mb-5
                  p.mb-0 Tell us about your car
                  .ml-auto.d-flex
                    .form-group.d-flex.mb-0.align-items-center
                      label.mb-0.mr-2(for='inputnumber') Existing customer? Enter car number
                      input#inputnumber.form-control.mr-2(type='text', placeholder='MH 12 EH 9287')
                    button.btn.btn-primary.btn-go(type='submit') go!
                .radio-button-group
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio1')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio1.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio1') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio2')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio2.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio2') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio3')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio3.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio3') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio4')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio4.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio4') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio5')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio5.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio5') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio6')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio6.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio6') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio7')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio7.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio7') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio8')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio8.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio8') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio9')
                      img(src="./images/Hondacitynew.svg", alt="")
                    input#customRadio9.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio9') Option 1
                  .custom-control.custom-radio.custom-radio-qi.pl-0
                    label.label-car(for='customRadio10')
                      img(src="./images/placeholder.svg", alt="")
                    input#customRadio10.custom-control-input(type='radio', name='rdcar')
                    label.custom-control-label(for='customRadio10') Other
                .form-group.ml-auto.w-25.text-right
                  label(for='fourwheelerSelect') Select your four wheeler
                  select#fourwheelerSelect.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
          .card.card-qi.card-car-variants
            .card-body
              .car-details
                p Select Fuel
                .car-fuel-wrap.d-flex.align-items-center.justify-content-between.mb-4
                  .fuel-box
                    img(src="./images/fuel.svg", alt="Fuel Logo")
                  .custom-control.custom-radio.custom-radio-qi.custom-control-inline
                    input#rdpetrol.custom-control-input(type='radio', name='rdfuel')
                    label.custom-control-label(for='rdpetrol') Petrol
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#rddiesel.custom-control-input(type='radio', name='rdfuel')
                    label.custom-control-label(for='rddiesel') Diesel
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#rdcng.custom-control-input(type='radio', name='rdfuel')
                    label.custom-control-label(for='rdcng') CNG
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#customRadioInline2.custom-control-input(type='radio', name='rdfuel')
                    label.custom-control-label(for='customRadioInline2') LPG
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#customRadioInline1.custom-control-input(type='radio', name='rdfuel')
                    label.custom-control-label(for='customRadioInline1') Electric
                .row
                  .col-6
                    .form-group
                      label(for='variantselect') Select Variant
                      select#variantselect.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                  .col-6.ml-auto
                  .col-6
                    .form-group
                      label.text-uppercase(for='rtoselect') rto
                      select#rtoselect.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                  .col-6
                    .form-group
                      label(for='registrationselect') Registration Year
                      select#registrationselect.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
          .card.card-qi.card-car-policy
            .card-body
              .car-policy-wrap
                .form-group
                  label(for='policy') Is your policy expired?
                  .custom-control.custom-switch-qi.custom-switch
                    input#policy.custom-control-input(type='checkbox')
                    label.custom-control-label(for='policy')
                legend.col-form-label When was your policy expired?
                .policy-expire.mb-4.ml-2
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#days30.custom-control-input(type='radio', name='rddays')
                    label.custom-control-label(for='days30') 30 days
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#days60.custom-control-input(type='radio', name='rddays')
                    label.custom-control-label(for='days60') 60 days
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#days90.custom-control-input(type='radio', name='rddays')
                    label.custom-control-label(for='days90') 90 days
                  .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                    input#days90plus.custom-control-input(type='radio', name='rddays')
                    label.custom-control-label(for='days90plus') More than 90 days
                p Tell us more about your current insurance
                .row
                  .col-6
                    .form-group
                      label(for='lastyearclaim') Have you made claim last year?
                      .custom-control.custom-switch-qi.custom-switch
                        input#lastyearclaim.custom-control-input(type='checkbox')
                        label.custom-control-label(for='lastyearclaim')
                    .form-group
                      label(for='lastyearaddons') Did you opt for add-ons last year?
                      .custom-control.custom-switch-qi.custom-switch
                        input#lastyearaddons.custom-control-input(type='checkbox')
                        label.custom-control-label(for='lastyearaddons')
                  .col-6
                    .form-group
                      label(for='noclaimselect') Previous year no claim bonus
                      select#noclaimselect.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                    .form-group
                      label(for='piselect') Previous Insurer
                      select#piselect.form-control
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
          .card.card-qi.card-car-insurance
            .card-body
              .car-insurance-wrap
                .form-group.mb-5
                  label(for='insurance') Go for Third Party Insurance?
                  .custom-control.custom-switch-qi.custom-switch
                    input#insurance.custom-control-input(type='checkbox')
                    label.custom-control-label(for='insurance')
                .insurance-details
                  fieldset.form-group
                    .row.align-items-center
                      legend.col-form-label.col-sm-3 Customer Type
                      .col-sm-9
                        .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                          input#rdcompany.custom-control-input(type='radio', name='rddays')
                          label.custom-control-label(for='rdcompany') Company
                        .form-check.form-check-inline
                          .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                            input#rdindividual.custom-control-input(type='radio', name='rddays')
                            label.custom-control-label(for='rdindividual') Individual
                  .form-group.row
                    label.col-3(for='previouspolicy') Is previous Policy Expired?
                    .custom-control.custom-switch-qi.custom-switch.col-9
                      input#previouspolicy.custom-control-input(type='checkbox')
                      label.custom-control-label(for='previouspolicy')
                  .form-group.row
                    label.col-3(for='cover') Passenger Cover
                    .custom-control.custom-switch-qi.custom-switch.col-9
                      input#cover.custom-control-input(type='checkbox')
                      label.custom-control-label(for='cover')
                  .form-group.row
                    label.col-3(for='owner') Owner Driver
                    .custom-control.custom-switch-qi.custom-switch.col-9
                      input#owner.custom-control-input(type='checkbox')
                      label.custom-control-label(for='owner')
                  .form-group.row
                    label.col-3(for='paid') Paid Driver
                    .custom-control.custom-switch-qi.custom-switch.col-9
                      input#paid.custom-control-input(type='checkbox')
                      label.custom-control-label(for='paid')
                  .form-group.row
                    label.col-3(for='damage') Third Party Property Damage
                    .custom-control.custom-switch-qi.custom-switch.col-9
                      input#damage.custom-control-input(type='checkbox')
                      label.custom-control-label(for='damage')
        #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
          .card.card-qi
            .card-body
              | This is some text within a card body.
      ui.indicators
        li.visited
          span
        li.active
          span
        li
          span
        li
          span
      .custom-control.custom-checkbox.custom-checkbox-qi.mt-4
        input#accuratecheck.custom-control-input(type='checkbox')
        label.custom-control-label(for='accuratecheck') Information I entered is accurate
      .button-wrap.text-center.mt-5 
        button.btn.btn-primary.btn-compare(type='button', disabled='') compare