extends ./layouts/bootstrap.jade

block content
  .icon-bar-right
    a(href='JavaScript:void(0);')
      span Home
      i.icon-home
    a(href='JavaScript:void(0);')
      span 4 Wheeler
      i.icon-car
    a(href='JavaScript:void(0);')
      span 2 Wheeler
      i.icon-cycling
    a(href='JavaScript:void(0);')
      span Health
      i.icon-plus-square
    a(href='JavaScript:void(0);')
      span Personal Accident
      i.icon-bed
    a(href='JavaScript:void(0);')
      span Commercial Vehicle
      i.icon-taxi
    a(href='JavaScript:void(0);')
      span Travel
      i.icon-users
  .section-health-compare
    .container
      h1.text-uppercase.mb-5 compare and buy <br/> health insurance
  .section-health-insurance
    .container.position-relative
      .card.card-health-qi.mb-2.visited
        .card-body
          .aboutus-wrap
            p Tell Us About You
            .row
              .col-4
                .form-group
                  label(for='gender') Gender
                  .gender-detail.ml-2
                    .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                      input#male.custom-control-input(type='radio', name='rdgender')
                      label.custom-control-label(for='male') Male
                    .custom-control.custom-radio.custom-control-inline.custom-radio-qi
                      input#female.custom-control-input(type='radio', name='rdgender')
                      label.custom-control-label(for='female') Female
            .row
              .col-4
                .form-group
                  label(for='age') Age
                  select#age.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            .row
              .col-4
                .form-group
                  label(for='diseases') Any Diseases ?
                  select#diseases.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
      .card.card-health-qi.card-member-qi
        .card-body
          .member-wrap
            p Go on! Add Members !
            #nav-tab.nav.nav-tabs.nav-tabs-qi.nav-tabs-health-qi(role='tablist')
              a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') Adults
              a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') Children
            #nav-tabContent.tab-content
              #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab')
                .card.card-health
                  .card-body
                    .adult-info
                      label Adult 1
                      .row
                        .col-6
                          .form-group
                            label.sr-only(for='relationship') Relationship
                            input#relationship.form-control(type='text', placeholder='Relationship')
                        .col-6
                          .form-group
                            label.sr-only(for='age') Age
                            input#age.form-control(type='text', placeholder='Age')
                        .col-6

              #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
                .card.card-health
                  .card-body
                    p children
      ui.indicators
        li.active
          span
        li
          span
        li
          span
      .button-wrap.text-center.mt-5 
        button.btn.btn-primary.btn-compare(type='button', disabled='') compare

